* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../general-sans/GeneralSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
header {
  padding: clamp(0.8rem, 2.7vw + 1px, 2.3rem) clamp(1.5rem, 6vw + 1px, 3.5rem);
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}
header nav .nav-part1 a img {
  width: clamp(3.5rem, 7vw + 1px, 3.8rem);
}
header nav .nav-part2 .nav-pt1 {
  display: none;
}
header nav .nav-part2 .nav-pt2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 0.8rem;
}
header nav .nav-part2 .nav-pt2 p {
  font-size: 0.8rem;
  font-family: "Roboto Mono";
}
header nav .nav-part2 .nav-pt2 button {
  display: none;
}
header nav .nav-part2 .nav-pt2 .menu-img {
  width: 2.5rem;
  height: 2.5rem;
}
header nav .nav-part2 .nav-pt2 .menu-img img {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  header nav .nav-part2 .nav-pt2 {
    gap: 1.2rem;
  }
  header nav .nav-part2 .nav-pt2 button {
    font-size: 0.9rem;
    text-transform: uppercase;
    display: block;
    font-family: "Roboto Mono";
    padding: 0.6rem 1.5rem;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
  }
}
@media (min-width: 990px) {
  header nav .nav-part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt1 {
    display: block;
  }
  header nav .nav-part2 .nav-pt1 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt1 ul li {
    list-style: none;
  }
  header nav .nav-part2 .nav-pt1 ul li a {
    text-decoration: none;
    font-family: "Roboto Mono";
    text-transform: uppercase;
    font-size: 0.8rem;
    color: rgb(55, 55, 55);
  }
  header nav .nav-part2 .nav-pt2 {
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt2 .menu-img {
    display: none;
  }
}