* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Now Display";
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0.8rem;
}

::-webkit-scrollbar {
  display: none;
}

main {
  border: 2px solid black;
}
main hr {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background: #000;
}

header {
  padding: 20px;
  padding-bottom: 0.6rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header nav .part1 h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
header nav .part1 img {
  display: inline-block;
  width: 40px;
}
header nav .part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header nav .part2 img {
  width: 40px;
}
header nav .part2 img:nth-child(1) {
  width: 60px;
}
header nav .part3 {
  display: none;
}

.Hero-section {
  width: 100%;
  padding: 1rem 1.2rem;
}
.Hero-section h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 1rem 0;
}
.Hero-section h1 {
  font-family: "Syne", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}
.Hero-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

@media (min-width: 1023px) {
  body {
    padding: 1rem;
  }
  main hr {
    width: 90%;
  }
  main header {
    padding: 1rem 3rem;
  }
  main header nav .part1 {
    gap: 1rem;
  }
  main header nav .part1 h2 {
    font-size: 2rem;
  }
  main header nav .part1 img {
    width: 4rem;
  }
  main header nav .part2 {
    display: none;
    gap: 1.5rem;
  }
  main header nav .part2 img {
    width: 3rem;
  }
  main header nav .part3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  main header nav .part3 .pt1 {
    display: none;
  }
  main header nav .part3 .pt1 ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 1.3rem;
  }
  main header nav .part3 .pt1 ul a {
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
  }
  main header nav .part3 .pt2 button {
    margin-left: 1.9rem;
    padding: 0.7rem 1.3rem;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    background-color: black;
    color: beige;
  }
  main header nav .part3 .pt3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 1rem;
  }
  main header nav .part3 .pt3 .elem h2 {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    border: 1px solid black;
  }
  main header nav .part3 .pt4 img {
    width: 4rem;
  }
  main .Hero-section {
    padding: 0.2rem 2.5rem;
  }
  main .Hero-section h3 {
    margin-top: 3rem;
    font-size: 1rem;
  }
  main .Hero-section h1 {
    font-family: "Syne", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 3.5rem;
    letter-spacing: 0.5rem;
  }
}
@media (min-width: 1200px) {
  header nav .part3 .pt1 {
    display: block;
  }
}
.sec2 {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.sec2 .secpart1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.sec2 .secpart1 p {
  text-transform: uppercase;
  color: rgb(93, 93, 93);
  margin-bottom: 1rem;
}
.sec2 .secpart1 h1 {
  font-family: "Syne", sans-serif;
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 400;
}
.sec2 .secpart1 button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
}
.sec2 .line {
  width: 100%;
  height: 2px;
  background-color: black;
}
.sec2 .secpart2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.sec2 .secpart2 .elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  align-self: flex-start;
}
.sec2 .secpart2 .elem i {
  font-size: 4rem;
  color: grey;
}
.sec2 .secpart2 .elem h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sec2 .secpart2 .elem p {
  color: grey;
  text-align: justify;
}
.sec2 .secpart2 .lines {
  height: 1px;
  width: 100%;
  background-color: black;
}

@media (min-width: 1023px) {
  main .sec2 {
    padding: 2.5rem;
  }
}
@media (min-width: 1199px) {
  .sec2 {
    flex-direction: row;
    align-items: flex-start;
    padding: 2.5rem 0;
  }
  .sec2 .secpart1 {
    height: auto;
    align-self: stretch;
    justify-content: space-between;
    width: 60%;
  }
  .sec2 .secpart1 p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .sec2 .secpart1 h1 {
    font-size: 5rem;
  }
  .sec2 .secpart2 {
    width: 32%;
    padding: 0 1rem;
    gap: 3.6rem;
  }
  .sec2 .secpart2 .elem {
    gap: 1.7rem;
  }
  .sec2 .secpart2 .elem i {
    font-size: 4rem;
  }
  .sec2 .secpart2 .elem h2 {
    font-size: 2rem;
  }
  .sec2 .secpart2 .elem p {
    font-size: 1.2rem;
  }
  .sec2 .line {
    width: 2px;
    height: auto;
    align-self: stretch;
  }
}
.sec3 {
  width: 100%;
  padding: 1rem 1.4rem;
}
.sec3 .sec3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.sec3 .sec3-container .sec3-part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sec3 .sec3-container .sec3-part1 h2 {
  font-family: "Syne", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 1.2rem;
}
.sec3 .sec3-container .sec3-part1 p {
  color: rgb(64, 64, 64);
  font-size: 1.2rem;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card .vid {
  width: 100%;
  aspect-ratio: 1.515/1;
  background: #000;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card .vid video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card .vid {
  width: 100%;
  aspect-ratio: 1.515/1;
  background: #000;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
}
.sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card .vid video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
}

@media (min-width: 810px) {
  .Hero-section {
    padding: 1.8rem;
  }
  .sec2 {
    padding: 1.8rem;
  }
  .sec3 {
    padding: 1.8rem;
  }
  .sec3 .sec3-container {
    flex-direction: row;
  }
  .sec3 .sec3-container .sec3-part1 {
    padding-top: 10px;
    position: sticky;
    top: 0;
  }
  .sec3 .sec3-container .sec3-part1 h2 {
    font-size: 3rem;
  }
  .sec3 .sec3-container .sec3-part1 p {
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 400;
  }
  .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card h3 {
    font-size: 1.8rem;
  }
  .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card h3 {
    font-size: 1.8rem;
  }
  .line {
    width: 2px;
    height: auto;
    align-self: stretch;
  }
}
@media (min-width: 1024px) {
  main .sec3 {
    padding: 1rem 2.5rem;
  }
}
@media (min-width: 1199px) {
  header nav .part3 .pt1 {
    display: none;
  }
  .sec3 .sec3-container {
    gap: 3rem;
  }
  .sec3 .sec3-container .sec3-part1 {
    width: 32%;
  }
  .sec3 .sec3-container .sec3-part1 h2 {
    font-size: 3.5rem;
  }
  .sec3 .sec3-container .sec3-part1 p {
    font-size: 1.4rem;
    width: 95%;
  }
  .sec3 .sec3-container .sec3-part2 {
    width: 68%;
  }
  .sec3 .sec3-container .sec3-part2 .sec3-cards {
    gap: 3rem;
  }
  .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 {
    gap: 3rem;
  }
  .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 {
    gap: 3rem;
  }
  .sec3 .sec3-container .sec3-part2 .sec3-cards {
    flex-direction: row;
  }
}
.sec4 {
  width: 100%;
  padding: 1rem 1.4rem;
}
.sec4 .line {
  width: 100%;
  height: 2px;
  background-color: #767575;
}
.sec4 .sec4-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.sec4 .sec4-container .cont-part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}
.sec4 .sec4-container .cont-part1 .svg {
  color: #989797;
  font-size: 5rem;
  margin-bottom: 1rem;
}
.sec4 .sec4-container .cont-part1 p {
  font-weight: 600;
}
.sec4 .sec4-container .cont-part1 h2 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.sec4 .sec4-container .cont-part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.sec4 .sec4-container .cont-part2 p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.sec4 .sec4-container .cont-part2 button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #000;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
}
.sec4 .sec4-container .line2 {
  display: none;
}

@media (min-width: 810px) {
  .sec4 {
    padding: 1rem 2.4rem;
  }
  .sec4 .sec4-container .cont-part1 .svg {
    margin-bottom: 3rem;
  }
  .sec4 .sec4-container .cont-part1 h2 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .sec4 .sec4-container .cont-part2 p {
    font-size: 1.5rem;
    color: #767575;
  }
}
@media (min-width: 1199px) {
  .sec4 {
    padding: 2rem 2.8rem;
    height: 85vh;
  }
  .sec4 .sec4-container {
    gap: 3rem;
    height: 100%;
    flex-direction: row;
    padding: 2rem 0;
  }
  .sec4 .sec4-container .line2 {
    display: block;
    width: 2px;
    height: auto;
    align-self: stretch;
    background-color: #000;
  }
  .sec4 .sec4-container .cont-part1 {
    justify-content: flex-start;
    height: 100%;
    width: 70%;
    position: relative;
  }
  .sec4 .sec4-container .cont-part1 .svg {
    position: absolute;
    bottom: 0;
    margin: 0;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sec4 .sec4-container .cont-part1 h2 {
    font-size: 5.5rem;
    line-height: 1;
  }
  .sec4 .sec4-container .cont-part2 {
    width: 30%;
    height: 100%;
    justify-content: space-between;
  }
  .sec4 .sec4-container .cont-part2 p {
    display: inline-block;
  }
  main header {
    padding: 3vh 4vw;
  }
  main header nav .part1 img {
    width: 3rem;
  }
  main header nav .part1 h2 {
    font-size: 1.7rem;
  }
  main header nav .part3 .pt1 {
    display: block;
  }
  main header nav .part3 .pt1 ul {
    gap: 1.2rem;
  }
  main header nav .part3 .pt1 a {
    font-size: 0.8rem;
  }
  main header nav .part3 .pt2 button {
    font-size: 0.8rem;
    margin-left: 1rem;
  }
  main header nav .part3 .pt3 .elem h2 {
    font-size: 0.8rem;
    padding: 0.5rem 0.6rem;
  }
  main header nav .part3 .pt4 img {
    width: 3rem;
  }
  main .Hero-section h1 {
    font-weight: 500;
    font-size: 6.5vw;
    letter-spacing: 5px;
  }
}
footer {
  padding: 1rem 1.4rem;
  text-align: center;
}
footer .line {
  width: 100%;
  height: 2px;
  background-color: rgb(141, 140, 140);
}
footer .foot-container .footcard {
  padding: 1.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
footer .foot-container .footcard .part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .foot-container .footcard .part1 h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
footer .foot-container .footcard .part1 img {
  display: inline-block;
  width: 40px;
}
footer .foot-container .footcard .part2 {
  text-align: justify;
  line-height: 1.4;
}
footer .foot-container .footcard .part2 p {
  font-size: 1rem;
  word-spacing: 2px;
  color: #767575;
}
footer .foot-container .footcard .part3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
footer .foot-container .footcard .part3 .elem {
  padding-top: 2rem;
}
footer .foot-container .footcard .part3 .elem h2 {
  font-size: 0.8rem;
  padding: 0.8rem 0.9rem;
  border-radius: 50%;
  border: 1px solid black;
}
footer .foot-container .foot2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
footer .foot-container .foot2 h2 {
  font-family: "Syne", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
footer .foot-container .foot2 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
footer .foot-container .foot2 button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #000;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
}
footer .foot-container .foot3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
footer .foot-container .foot3 h2 {
  font-family: "Syne", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
footer .foot-container .foot3 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
footer .foot-container .foot4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
footer .foot-container .foot4 h2 {
  font-family: "Syne", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
footer .foot-container .foot4 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.lastsec {
  padding: 1.9rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.lastsec p {
  font-family: "Syne", sans-serif;
}

@media (min-width: 810px) {
  footer {
    padding: 2rem 2.8rem;
  }
  footer .line {
    margin-bottom: 3rem;
  }
  footer .foot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 2.8rem;
  }
  footer .foot-container .footcard {
    width: 20%;
  }
  footer .foot-container .footcard:nth-child(1) {
    width: 40%;
  }
  footer .foot-container .line {
    width: 2px;
    height: auto;
    align-self: stretch;
    display: none;
  }
  footer .foot-container .line:nth-child(2) {
    display: block;
  }
  .lastsec {
    padding: 3rem 0;
    text-align: center;
  }
}
@media (min-width: 1399px) {
  main .Hero-section {
    padding: 3vh 4vw;
  }
  main .sec3 {
    padding: 4vh 4vw;
  }
  main .sec4 {
    padding: 4vh 4vw;
  }
  main footer {
    padding: 3vh 4vw;
  }
}
@media (min-width: 1599px) {
  main header nav .part1 img {
    width: 3rem;
  }
  main header nav .part1 h2 {
    font-size: 2.1vw;
  }
  main header nav .part3 .pt1 {
    display: block;
  }
  main header nav .part3 .pt1 ul {
    gap: 2vw;
  }
  main header nav .part3 .pt1 a {
    font-size: 0.9vw;
  }
  main header nav .part3 .pt2 button {
    font-size: 0.9vw;
    margin-left: 1.5vw;
    padding: 0.8rem 1.8rem;
  }
  main header nav .part3 .pt3 .elem h2 {
    font-size: 0.9vw;
    padding: 0.5rem 0.6rem;
  }
  main header nav .part3 .pt4 img {
    width: 3.5vw;
  }
  main .Hero-section h3 {
    font-size: 1.2vw;
  }
  main .sec2 .secpart1 h1 {
    font-size: 5vw;
  }
  main .sec2 .secpart1 p {
    font-size: 1.2vw;
  }
  main .sec2 .secpart1 button {
    font-size: 0.9vw;
    padding: 0.8rem 1.8rem;
  }
  main .sec2 .secpart2 .elem i {
    font-size: 5vw;
  }
  main .sec2 .secpart2 .elem h2 {
    font-size: 2.5vw;
  }
  main .sec2 .secpart2 .elem p {
    font-size: 1.5vw;
  }
  main .sec3 .sec3-container .sec3-part1 h2 {
    font-size: 4vw;
  }
  main .sec3 .sec3-container .sec3-part1 p {
    font-size: 1.5vw;
  }
  main .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card h3 {
    font-size: 2vw;
  }
  main .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card p {
    font-size: 1vw;
  }
  main .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card h3 {
    font-size: 2vw;
  }
  main .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card p {
    font-size: 1vw;
  }
  main .sec4 .line {
    margin-bottom: 4vw;
  }
  main .sec4 .sec4-container .cont-part1 .svg i {
    font-size: 7vw;
  }
  main .sec4 .sec4-container .cont-part1 p {
    font-size: 1.5vw;
  }
  main .sec4 .sec4-container .cont-part1 h2 {
    font-size: 6vw;
  }
  main .sec4 .sec4-container .cont-part2 p {
    font-size: 1.5vw;
  }
  main .sec4 .sec4-container .cont-part2 button {
    font-size: 0.9vw;
    padding: 0.8rem 1.8rem;
  }
  main footer {
    padding: 4vw 4vw;
  }
  main footer .foot-container .footcard h2 {
    font-size: 2vw;
  }
  main footer .foot-container .footcard li {
    font-size: 1vw;
  }
  main footer .foot-container .footcard .part2 p {
    font-size: 1vw;
  }
  main footer .foot-container .footcard button {
    font-size: 0.9vw;
    padding: 0.8rem 1.8rem;
  }
}