* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

html,
body {
  height: auto;
  width: 100dvw;
}

::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  padding: 1rem 1.4rem;
  display: flex;
  justify-content: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  max-width: 2100px;
}
header nav .nav-part1 a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000022;
  font-weight: 600;
}
header nav .nav-middle {
  display: none;
}
header nav .nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header nav .nav-part2 i {
  font-size: 1.5rem;
}
header nav .nav-part2 i p {
  display: none;
}
header nav .nav-part2 button {
  font-size: 1rem;
  border: none;
  padding: 8px 1.4rem;
  color: white;
  background: #1d201f;
  border-radius: 30px;
}

main {
  width: 100%;
  padding: 1rem 1.4rem;
  cursor: default;
}
main .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 0;
}
main .hero .hero-container {
  width: 100%;
  max-width: 2100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 3rem;
}
main .hero .hero-container .hero-part1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 1rem;
}
main .hero .hero-container .hero-part1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
  color: #000022;
  line-height: 1.4;
}
main .hero .hero-container .hero-part1 h1 span {
  color: grey;
  font-weight: 700;
}
main .hero .hero-container .hero-part1 p {
  font-size: 1.1rem;
  color: grey;
}
main .hero .hero-container .hero-part1 button {
  display: none;
}
main .hero .hero-container .hero-part2 {
  aspect-ratio: 1/1;
  width: 100%;
  display: grid;
  gap: 1.4rem;
  grid-template-areas: "a a b b" "a a b b" "a a b b" "a a b b" "a a b b" "a a c c" "a a c c" "a a c c";
}
main .hero .hero-container .hero-part2 .imgdiv {
  width: 100%;
  border-radius: clamp(1rem, 5vw + 1px, 2.5rem);
}
main .hero .hero-container .hero-part2 .imgdiv1 {
  grid-area: a;
  background-image: url("/Grid-Project/assets/hero_img1.webp");
  background-size: cover;
}
main .hero .hero-container .hero-part2 .imgdiv2 {
  grid-area: b;
  background-image: url("/Grid-Project/assets/hero_img2.webp");
  background-size: cover;
}
main .hero .hero-container .hero-part2 .imgdiv3 {
  grid-area: c;
  background-image: url("/Grid-Project/assets/hero_img3.webp");
  background-size: cover;
}

.destination {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.destination .dest-container {
  width: 100%;
  max-width: 2100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 0.4rem;
  align-items: flex-start;
  overflow: hidden;
}
.destination .dest-container h2 {
  font-size: clamp(1.5rem, 2.5vw + 1px, 3rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000022;
}
.destination .dest-container .types-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 0.1rem;
  padding-bottom: 0.6rem;
}
.destination .dest-container .types-div a {
  text-decoration: none;
  color: #000022;
  font-size: clamp(1.1rem, 2vw + 1px, 1.4rem);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.destination .dest-container .types-div i {
  font-size: clamp(2.1rem, 3vw + 1px, 4rem);
}
.destination .dest-container .types-div-2 {
  display: none;
}
.destination .dest-container .item-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 2rem;
  width: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.destination .dest-container .item-container .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
  max-width: 320px;
  aspect-ratio: 1/1;
  scroll-snap-align: start;
}
.destination .dest-container .item-container .items img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.destination .dest-container .item-container .items .img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.destination .dest-container .item-container .items h3 {
  font-size: clamp(1.2rem, 2vw + 1px, 2rem);
  font-weight: 600;
}
.destination .dest-container .item-container .items p {
  font-size: clamp(1.1rem, 2vw + 1px, 1.2rem);
  margin-top: 8px;
}

.stories {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.stories .stories-container {
  width: 100%;
  max-width: 2100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
.stories .stories-container .st-part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.stories .stories-container .st-part1 .st-img {
  border-radius: clamp(2rem, 5vw + 1px, 3.5rem);
  overflow: hidden;
}
.stories .stories-container .st-part1 .st-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stories .stories-container .st-part1 .st-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  gap: 0.4rem;
}
.stories .stories-container .st-part1 .st-detail h3 {
  font-size: clamp(1.2rem, 2vw + 1px, 2rem);
  font-weight: 600;
  line-height: 1.2;
}
.stories .stories-container .st-part1 .st-detail p {
  font-size: clamp(1.1rem, 2vw + 1px, 1.2rem);
  width: max(380px, 70%);
  text-align: justify;
}
.stories .stories-container .st-part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  gap: 2rem;
}
.stories .stories-container .st-part2 .st-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.stories .stories-container .st-part2 .st-items .img {
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: clamp(1rem, 3vw + 1px, 2rem);
  overflow: hidden;
}
.stories .stories-container .st-part2 .st-items .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stories .stories-container .st-part2 .st-items .item-detail {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: start;
  gap: 0.4rem;
}
.stories .stories-container .st-part2 .st-items .item-detail h3 {
  font-size: clamp(1.2rem, 2vw + 1px, 2rem);
  font-weight: 600;
  line-height: 1.2;
}
.stories .stories-container .st-part2 .st-items .item-detail p {
  font-size: clamp(1.1rem, 2vw + 1px, 1.2rem);
  text-align: justify;
}

@media (min-width: 768px) {
  header {
    padding: 2vh 4vw;
  }
  header nav .nav-part1 a {
    font-size: 1.3rem;
  }
  header nav .nav-part2 i {
    font-size: 1.5rem;
  }
  header nav .nav-part2 button {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
  }
  main {
    padding: 4vh calc(3.2vw + 1px);
  }
  main .hero .hero-container .hero-part1 {
    align-items: flex-start;
  }
  main .hero .hero-container .hero-part1 h1 {
    font-size: clamp(3rem, 7vw + 1px, 4rem);
  }
  main .hero .hero-container .hero-part1 p {
    font-size: clamp(1.1rem, 2.5vw + px, 1.4rem);
    width: 80%;
  }
  main .hero .hero-container .hero-part2 {
    gap: 2.5rem;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 2vh 3.4vw;
  }
  header nav .nav-part1 a {
    font-size: 1.4rem;
  }
  header nav .nav-part2 i {
    cursor: default;
    font-size: 1.5rem;
    padding: 0.4rem 7rem;
    padding-right: 1rem;
    background: rgb(226, 226, 226);
    border-radius: 50px;
    position: relative;
  }
  header nav .nav-part2 i p {
    display: block;
    font-size: 1rem;
    opacity: 70%;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
  }
  header nav .nav-part2 button {
    font-size: 1rem;
    padding: 0.5rem 1.4rem;
  }
  header nav .nav-part2 i:nth-child(3) {
    display: none;
  }
  main {
    padding: 3dvh 3.2vw;
  }
  main .hero {
    padding: 1rem 0;
    padding-bottom: 2rem;
  }
  main .hero .hero-container {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: row;
  }
  main .hero .hero-container .hero-part1 {
    width: 50%;
    height: 100%;
    gap: 2rem;
  }
  main .hero .hero-container .hero-part1 h1 {
    font-size: clamp(3rem, 5vw + 1px, 6rem);
    line-height: 1.2;
  }
  main .hero .hero-container .hero-part1 button {
    display: block;
    font-size: 1rem;
    border: none;
    padding: 8px 1.4rem;
    color: white;
    background: #1d201f;
    border-radius: 30px;
    margin-top: 1rem;
  }
  main .hero .hero-container .hero-part2 {
    width: 50%;
    gap: 2rem;
    grid-template-areas: ". . b b" "a a b b" "a a b b" "a a b b" "a a b b" "a a c c" "a a c c" ". . c c";
  }
  main .stories .stories-container {
    flex-direction: row;
    gap: clamp(2rem, 4vw + 1px, 3rem);
  }
  main .stories .stories-container .st-part1 {
    width: 50%;
  }
  main .stories .stories-container .st-part2 {
    align-self: stretch;
    height: auto;
    width: 50%;
  }
  main .stories .stories-container .st-part2 .st-items {
    flex-grow: 1;
    gap: 1rem;
  }
  main .stories .stories-container .st-part2 .st-items .img {
    width: 30%;
  }
  main .stories .stories-container .st-part2 .st-items .item-detail {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    align-items: flex-start;
    gap: 0.4rem;
  }
  main .stories .stories-container .st-part2 .st-items .item-detail h3 {
    width: max(310px, 80%);
  }
}
@media (min-width: 1199px) {
  header nav .nav-middle {
    display: block;
  }
  header nav .nav-middle ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 2rem;
  }
  header nav .nav-middle ul li {
    list-style: none;
  }
  header nav .nav-middle ul li a {
    text-decoration: none;
    color: #000022;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  main .destination .dest-container .types-div-2 {
    display: block;
    width: 100%;
  }
  main .destination .dest-container .types-div-2 ul {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    gap: calc(3.5vw + 1px);
    padding: 1rem 2rem;
    padding-bottom: 0.6rem;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  main .destination .dest-container .types-div-2 ul li {
    list-style: none;
    scroll-snap-align: start;
  }
  main .destination .dest-container .types-div-2 ul li a {
    text-decoration: none;
    color: #000022;
    font-size: calc(1.1vw + 1px);
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  main .destination .dest-container .types-div {
    display: none;
  }
  main .destination .dest-container .item-container .items {
    max-width: 22vw;
    aspect-ratio: 3/4;
  }
}
@media (min-width: 1549px) {
  header nav .nav-part1 a {
    font-size: clamp(1.5rem, 2vw + 1px, 2.2rem);
  }
  header nav .nav-middle {
    display: block;
  }
  header nav .nav-middle ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: clamp(2.1rem, 3vw + 1px, 4rem);
  }
  header nav .nav-middle ul li {
    list-style: none;
  }
  header nav .nav-middle ul li a {
    font-size: clamp(1.1rem, 1.2vw + 1px, 1.6rem);
  }
  header nav .nav-part2 i {
    font-size: 2rem;
    padding: 0.6rem 9rem;
    padding-right: 1.5rem;
  }
  header nav .nav-part2 i p {
    font-size: 1.2rem;
  }
  header nav .nav-part2 button {
    font-size: clamp(1.1rem, 1.2vw + 1px, 1.6rem);
    padding: 0.9rem clamp(1.5rem, 2vw + 1px, 2.2rem);
  }
  header nav .nav-part2 i:nth-child(3) {
    display: none;
  }
  main {
    padding: 2rem clamp(3rem, 4vw + 1px, 4rem);
  }
  main .hero {
    padding: 3vh 0;
  }
  main .hero .hero-container .hero-part1 p {
    font-size: clamp(1.4rem, 1.5vw + 1px, 1.8rem);
  }
  main .hero .hero-container .hero-part1 button {
    margin-top: 4.5rem;
    font-size: clamp(1.1rem, 1.2vw + 1px, 1.6rem);
    padding: 0.9rem clamp(1.5rem, 2vw + 1px, 2.2rem);
  }
  main .hero .hero-container .hero-part2 {
    aspect-ratio: 1/1;
  }
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}
@keyframes slideIn2 {
  to {
    opacity: 1;
    transform: translateX(0);
    scale: 1;
  }
}
@keyframes slideIn3 {
  to {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes zoomIn {
  to {
    zoom: 1.2%;
  }
}
header nav button {
  transition: all 0.2s ease-in-out;
}
header nav button:hover {
  background: #00898c;
  color: white;
}
header nav .nav-middle ul li a {
  position: relative;
}
header nav .nav-middle ul li a::after {
  background: #000;
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 2px;
  transition: all 0.25s ease-in-out;
}
header nav .nav-middle ul li a:hover::after {
  width: 100%;
}

main a {
  position: relative;
}
main a::after {
  background: #000;
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 2px;
  transition: all 0.25s ease-in-out;
}
main a:hover::after {
  width: 100%;
}
main .hero .hero-container .hero-part1 button {
  transition: all 0.2s ease-in-out;
}
main .hero .hero-container .hero-part1 button:hover {
  background: #00898c;
  color: white;
}
main .hero .hero-container .hero-part1 h1 {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 1s ease-out forwards;
}
main .hero .hero-container .hero-part1 p {
  opacity: 0;
  scale: 0.8;
  animation: fadeOut 1s ease-out forwards;
}
main .hero .hero-container .hero-part2 .imgdiv {
  scale: 0.9;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn3 1s ease-out forwards;
}
main .hero .hero-container .hero-part2 .imgdiv1 {
  scale: 0.9;
  opacity: 0;
  transform: translateY(-25px);
  animation: slideIn 1s ease-out forwards;
}
main .hero .hero-container .hero-part2 .imgdiv2 {
  scale: 0.9;
  opacity: 0;
  transform: translateX(25px);
  animation: slideIn2 1s ease-out forwards;
}
main .destination .dest-container .item-container .items .img {
  overflow: hidden;
}
main .destination .dest-container .item-container .items .img img {
  scale: 1;
  transition: all 0.4s ease-in-out;
}
main .destination .dest-container .item-container .items .img img:hover {
  scale: 1.03;
}
main .stories .stories-container .st-img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
main .stories .stories-container .st-img img {
  scale: 1;
  transition: all 0.4s ease-in-out;
}
main .stories .stories-container .st-img img:hover {
  scale: 1.01;
}
main .stories .stories-container .st-part2 img {
  scale: 1;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
main .stories .stories-container .st-part2 img:hover {
  scale: 1.02;
  filter: grayscale(0);
};
    flex-grow: 1;
    gap: 2.8rem;
  }
  footer .foot-container .footcard {
    width: 20%;
  }
  footer .foot-container .footcard:nth-child(1) {
    width: 40%;
  }
  footer .foot-container .line {
    width: 2px;
    height: auto;
    align-self: stretch;
    display: none;
  }
  footer .foot-container .line:nth-child(2) {
    display: block;
  }
  .lastsec {
    padding: 3rem 0;
    text-align: center;
  }
}
@media (min-width: 1399px) {
  main .Hero-section {
    padding: 3vh 4vw;
  }
  main .sec3 {
    padding: 4vh 4vw;
  }
  main .sec4 {
    padding: 4vh 4vw;
  }
  main footer {
    padding: 3vh 4vw;
  }
}
@media (min-width: 1599px) {
  main header nav .part1 img {
    width: 3rem;
  }
  main header nav .part1 h2 {
    font-size: 2.1vw;
  }
  main header nav .part3 .pt1 {
    display: block;
  }
  main header nav .part3 .pt1 ul {
    gap: 2vw;
  }
  main header nav .part3 .pt1 a {
    font-size: 0.9vw;
  }
  main header nav .part3 .pt2 button {
    font-size: 0.9vw;
    margin-left: 1.5vw;
    padding: 0.8rem 1.8rem;
  }
  main header nav .part3 .pt3 .elem h2 {
    font-size: 0.9vw;
    padding: 0.5rem 0.6rem;
  }
  main header nav .part3 .pt4 img {
    width: 3.5vw;
  }
  main .Hero-section h3 {
    font-size: 1.2vw;
  }
  main .sec2 .secpart1 h1 {
    font-size: 5vw;
  }
  main .sec2 .secpart1 p {
    font-size: 1.2vw;
  }
  main .sec2 .secpart1 button {
    font-size: 0.9vw;
    padding: 0.8rem 1.8rem;
  }
  main .sec2 .secpart2 .elem i {
    font-size: 5vw;
  }
  main .sec2 .secpart2 .elem h2 {
    font-size: 2.5vw;
  }
  main .sec2 .secpart2 .elem p {
    font-size: 1.5vw;
  }
  main .sec3 .sec3-container .sec3-part1 h2 {
    font-size: 4vw;
  }
  main .sec3 .sec3-container .sec3-part1 p {
    font-size: 1.5vw;
  }
  main .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card h3 {
    font-size: 2vw;
  }
  main .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part1 .card p {
    font-size: 1vw;
  }
  main .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card h3 {
    font-size: 2vw;
  }
  main .sec3 .sec3-container .sec3-part2 .sec3-cards .card-div-part2 .card p {
    font-size: 1vw;
  }
  main .sec4 .line {
    margin-bottom: 4vw;
  }
  main .sec4 .sec4-container .cont-part1 .svg i {
    font-size: 7vw;
  }
  main .sec4 .sec4-container .cont-part1 p {
    font-size: 1.5vw;
  }
  main .sec4 .sec4-container .cont-part1 h2 {
    font-size: 6vw;
  }
  main .sec4 .sec4-container .cont-part2 p {
    font-size: 1.5vw;
  }
  main .sec4 .sec4-container .cont-part2 button {
    font-size: 0.9vw;
    padding: 0.8rem 1.8rem;
  }
  main footer {
    padding: 4vw 4vw;
  }
  main footer .foot-container .footcard h2 {
    font-size: 2vw;
  }
  main footer .foot-container .footcard li {
    font-size: 1vw;
  }
  main footer .foot-container .footcard .part2 p {
    font-size: 1vw;
  }
  main footer .foot-container .footcard button {
    font-size: 0.9vw;
    padding: 0.8rem 1.8rem;
  }
}