* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../general-sans/GeneralSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
header {
  padding: clamp(0.8rem, 2.7vw + 1px, 2.3rem) clamp(1.5rem, 6vw + 1px, 3.5rem);
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}
header nav .nav-part1 a img {
  width: clamp(3.5rem, 7vw + 1px, 3.8rem);
}
header nav .nav-part2 .nav-pt1 {
  display: none;
}
header nav .nav-part2 .nav-pt2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 0.8rem;
}
header nav .nav-part2 .nav-pt2 p {
  font-size: 0.8rem;
  font-family: "Roboto Mono";
}
header nav .nav-part2 .nav-pt2 button {
  display: none;
}
header nav .nav-part2 .nav-pt2 .menu-img {
  width: 2.5rem;
  height: 2.5rem;
}
header nav .nav-part2 .nav-pt2 .menu-img img {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: clamp(0.8rem, 2.7vw + 1px, 2.3rem) clamp(1.5rem, 6vw + 1px, 3.5rem);
}
main .hero {
  width: 100%;
  padding-bottom: 0.7rem;
}
main .hero .txt-img {
  width: 100%;
  margin-bottom: 0.8rem;
}
main .hero .txt-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero .txt2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}
main .hero .txt2 p {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  letter-spacing: 1px;
}
main .sec2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec2 .sec2-pt1 {
  width: 100%;
  aspect-ratio: 1/1;
}
main .sec2 .sec2-pt1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec2 .section2-pt2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec2 .section2-pt2 .sec2-pt2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec2 .section2-pt2 .sec2-pt2 h1 {
  font-size: clamp(2.5rem, 5.5vw + 1px, 5rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  font-weight: 200;
  width: 80%;
  line-height: 1.1;
}
main .sec2 .section2-pt2 .sec2-pt2 p {
  font-size: clamp(1.1rem, 2vw + 1px, 1.4rem);
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: #111;
}
main .sec2 .section2-pt2 .sec2-pt3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec2 .section2-pt2 .sec2-pt3 hr {
  background-color: grey;
  width: 100%;
  height: 0.5px;
}
main .sec2 .section2-pt2 .sec2-pt3 .lst {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}
main .sec2 .section2-pt2 .sec2-pt3 .lst p {
  font-size: clamp(1.7rem, 3vw + 1px, 2rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .sec3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec3 .sec3-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec3 .sec3-container .sec3-pt1 {
  width: 100%;
}
main .sec3 .sec3-container .sec3-pt1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec3 .sec3-container .sec3-pt2 {
  width: 100%;
  display: flex;
  gap: clamp(2rem, 6vw + 1px, 3rem);
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item1 {
  margin-top: 12px;
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item1 p {
  writing-mode: vertical-rl;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  letter-spacing: 1px;
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 h2 {
  font-size: clamp(2.75rem, 6.5vw + 1px, 5.6rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1;
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 p {
  font-size: 1.15rem;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.5);
  width: 100%;
  max-width: 600px;
}
main .sec4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec4 .sec4-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
  padding: 2rem 0;
}
main .sec4 .sec4-container .sec4-pt1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec4 .sec4-container .sec4-pt1 .pt1-top h2 {
  font-size: clamp(2.75rem, 6.2vw + 1px, 5.6rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1;
}
main .sec4 .sec4-container .sec4-pt1 .pt1-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec4 .sec4-container .sec4-pt1 .pt1-bottom h3 {
  font-weight: 300;
  font-size: clamp(1.5rem, 3vw + 1px, 2rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .sec4 .sec4-container .sec4-pt1 .pt1-bottom p {
  font-size: 1rem;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.5);
}
main .sec4 .sec4-container .sec4-pt1 .pt1-bottom .pt1-bt-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 0.8rem 0;
  border-top: 1px solid rgba(148, 148, 148, 0.5);
}
main .sec4 .sec4-container .sec4-pt1 .pt1-bottom .pt1-bt-item .item-pt1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 0.6rem;
}
main .sec4 .sec4-container .sec4-pt1 .pt1-bottom .pt1-bt-item .item-pt2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: flex-start;
}
main .sec4 .sec4-container .sec4-pt1 .pt1-bottom .pt1-bt-item .item-pt2 svg {
  width: 1rem;
  color: white;
  padding: 0.7rem;
  box-sizing: content-box;
  background-color: #111;
  border-radius: 50%;
}
main .sec4 .sec4-container .sec4-pt1 .pt1-bottom .pt1-bt-item .item-pt2 p {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: black;
}
main .sec4 .sec4-container .sec4-pt2 {
  width: 100%;
}
main .sec4 .sec4-container .sec4-pt2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec5 {
  width: 100%;
}
main .sec5 .sec5-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}
main .sec5 .sec5-container .sec5-cont-item3 {
  display: none;
}
main .sec5 .sec5-container .sec5-cont-item6 {
  display: none;
}
main .sec5 .sec5-container .sec5-cont-item1 {
  width: 100%;
}
main .sec5 .sec5-container .sec5-cont-item1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec5 .sec5-container .sec5-cont-item2 {
  width: 100%;
  aspect-ratio: 1/1;
}
main .sec5 .sec5-container .sec5-cont-item2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec5 .sec5-container .sec5-cont-item4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec5 .sec5-container .sec5-cont-item4 .item-pt1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 0.5rem;
}
main .sec5 .sec5-container .sec5-cont-item4 .item-pt1 h3 {
  font-weight: 300;
  font-size: clamp(2.25rem, 4.45vw + 1px, 4rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .sec5 .sec5-container .sec5-cont-item4 .item-pt1 p {
  font-size: 1rem;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: #111;
  width: 90%;
}
main .sec5 .sec5-container .sec5-cont-item4 .item-pt2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: flex-start;
}
main .sec5 .sec5-container .sec5-cont-item4 .item-pt2 svg {
  width: 1rem;
  color: white;
  padding: 0.7rem;
  box-sizing: content-box;
  background-color: #111;
  border-radius: 50%;
}
main .sec5 .sec5-container .sec5-cont-item4 .item-pt2 p {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: black;
}
main .sec5 .sec5-container .sec5-cont-item7 {
  width: 100%;
  aspect-ratio: 1/1;
}
main .sec5 .sec5-container .sec5-cont-item7 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec5 .sec5-container .sec5-cont-item5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  grid-row: 5/6;
}
main .sec5 .sec5-container .sec5-cont-item5 .item-pt1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 0.5rem;
}
main .sec5 .sec5-container .sec5-cont-item5 .item-pt1 h3 {
  font-weight: 300;
  font-size: clamp(2.25rem, 4.45vw + 1px, 4rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .sec5 .sec5-container .sec5-cont-item5 .item-pt1 p {
  font-size: 1rem;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: #111;
  width: 90%;
}
main .sec5 .sec5-container .sec5-cont-item5 .item-pt2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: flex-start;
}
main .sec5 .sec5-container .sec5-cont-item5 .item-pt2 svg {
  width: 1rem;
  color: white;
  padding: 0.7rem;
  box-sizing: content-box;
  background-color: #111;
  border-radius: 50%;
}
main .sec5 .sec5-container .sec5-cont-item5 .item-pt2 p {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: black;
}
main .sec6 {
  width: 100%;
}
main .sec6 .sec6-container {
  width: 100%;
}
main .sec6 .sec6-container .sec6-cont-pt1 {
  display: none;
}
main .sec6 .sec6-container .sec6-cont-pt2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec6 .sec6-container .sec6-cont-pt2 .img-div1 {
  display: none;
}
main .sec6 .sec6-container .sec6-cont-pt2 .img-div2 {
  width: 100%;
}
main .sec6 .sec6-container .sec6-cont-pt2 .img-div2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: clamp(1.5rem, 2.5vw + 1px, 2rem);
}
main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 .pt2-part2-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 0.7rem;
}
main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 .pt2-part2-item p {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
}
main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 .pt2-part2-item h6 {
  font-size: clamp(1.5rem, 4vw + 1px, 2rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 .sec6-line {
  width: 100%;
  height: 1px;
  background-color: rgb(197, 196, 196);
}
main .sec7 {
  width: 100%;
}
main .sec7 .sec7-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: max(4vw, 5vh) 0;
  gap: clamp(2.5rem, 6.5vw + 1px, 4rem);
}
main .sec7 .sec7-container .sec-cont-part1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec7 .sec7-container .sec-cont-part1 h2 {
  font-weight: 300;
  font-size: clamp(3rem, 9.7vw + 1px, 7.5rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .sec7 .sec7-container .sec-cont-part1 p {
  font-size: 1.15rem;
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.5;
  color: #111;
  text-align: justify;
}
main .sec7 .sec7-container .sec-cont-part2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items h3 {
  font-size: clamp(1.5rem, 4vw + 1px, 2.5rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items .detail-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items .detail-div .detail-pt1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items .detail-div .detail-pt1 h4 {
  font-size: 1rem;
  width: 100%;
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items .detail-div .detail-pt1 .logo {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: flex-end;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items .detail-div .detail-pt1 .logo img {
  width: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items .detail-div .detail-pt2 {
  font-size: 1.15rem;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: rgb(161, 160, 160);
}
main .sec8 {
  width: 100%;
}
main .sec8 .sec8-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0 max(4vw, 5vh) 0;
}
main .sec8 .sec8-container .sec8-pt1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec8 .sec8-container .sec8-pt1 p {
  font-size: 0.85rem;
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.5;
  color: #111;
  text-align: justify;
}
main .sec8 .sec8-container .sec8-pt1 h3 {
  font-size: clamp(2.1rem, 5vw + 1px, 3rem);
  line-height: 1.2;
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
main .sec8 .sec8-container .sec8-pt1 .btn {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: flex-start;
}
main .sec8 .sec8-container .sec8-pt1 .btn svg {
  width: 1rem;
  color: white;
  padding: 0.7rem;
  box-sizing: content-box;
  background-color: #111;
  border-radius: 50%;
}
main .sec8 .sec8-container .sec8-pt1 .btn p {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: black;
}
main .sec8 .sec8-container .sec8-pt2 {
  display: none;
}

@media (min-width: 768px) {
  header nav .nav-part2 .nav-pt2 {
    gap: 1.2rem;
  }
  header nav .nav-part2 .nav-pt2 button {
    font-size: 0.9rem;
    text-transform: uppercase;
    display: block;
    font-family: "Roboto Mono";
    padding: 0.6rem 1.5rem;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
  }
  main .sec4 .sec4-container {
    height: auto;
  }
  main .sec4 .sec4-container .sec4-pt1 .pt1-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(2rem, 6vw + 1px, 3rem);
  }
  main .sec5 .sec5-container {
    grid-template-columns: 1fr 1fr;
  }
  main .sec5 .sec5-container .sec5-cont-item1 {
    grid-column: 1/3;
  }
  main .sec5 .sec5-container .sec5-cont-item5 {
    grid-row: initial;
  }
  main .sec6 .sec6-container {
    padding: 1rem 0 4rem 0;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 {
    align-items: center;
    gap: 2.5rem;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part1 {
    width: 100%;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part1 img {
    width: 100%;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 .pt2-part2-item {
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 .pt2-part2-item .para {
    margin-left: auto;
  }
}
@media (min-width: 810px) {
  main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items h3 {
    font-size: clamp(1rem, 2.9vw + 1px, 2.5rem);
  }
}
@media (min-width: 990px) {
  header nav .nav-part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt1 {
    display: block;
  }
  header nav .nav-part2 .nav-pt1 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt1 ul li {
    list-style: none;
  }
  header nav .nav-part2 .nav-pt1 ul li a {
    text-decoration: none;
    font-family: "Roboto Mono";
    text-transform: uppercase;
    font-size: 0.8rem;
    color: rgb(55, 55, 55);
  }
  header nav .nav-part2 .nav-pt2 {
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt2 .menu-img {
    display: none;
  }
  main {
    /*     .sec5 {
      width: 100%;
      .sec5-container {
        width: 100%;
        // grid-template-columns: repeat(3, 1fr);

        .sec5-cont-item1 {
          grid-column: 1/4;
          width: 100%;
        }

        .sec5-cont-item2 {
          width: 100%;
        }

        .sec5-cont-item7 {
          width: 100%;
        }

        .sec5-cont-item3 {
          display: block;
          aspect-ratio: 1/1;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }

        .sec5-cont-item6 {
          display: block;
          aspect-ratio: 1/1;
          width: 100%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .sec5-cont-item4,
        .sec5-cont-item5 {
          padding: 2rem;
        }
      }
    } */
  }
  main .sec2 {
    flex-direction: row-reverse;
    align-items: center;
    gap: clamp(2.5rem, 5.5vw + 1px, 4rem);
  }
  main .sec2 .sec2-pt1 {
    align-self: stretch;
    height: auto;
  }
  main .sec2 .section2-pt2 {
    align-self: stretch;
    height: auto;
    justify-content: space-between;
    padding: 4vh 0;
  }
  main .sec2 .section2-pt2 .sec2-pt2 h1 {
    width: 100%;
    line-height: 1;
  }
  main .sec2 .section2-pt2 .sec2-pt2 p {
    width: 100%;
    max-width: 600px;
  }
  main .sec3 .sec3-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: clamp(2.5rem, 5.5vw + 1px, 4rem);
  }
  main .sec3 .sec3-container .sec3-pt1 {
    width: 32%;
    align-self: stretch;
    height: auto;
  }
  main .sec3 .sec3-container .sec3-pt2 {
    padding: 2rem 0;
    width: 68%;
    flex-direction: row-reverse;
    height: auto;
    align-self: stretch;
  }
  main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 {
    gap: clamp(3rem, 6vw + 1px, 4rem);
  }
  main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 h2 {
    width: 80%;
  }
  main .sec4 .sec4-container {
    flex-direction: row;
    gap: clamp(2.5rem, 5.5vw + 1px, 4rem);
  }
  main .sec4 .sec4-container .sec4-pt1 {
    align-self: stretch;
    height: auto;
    justify-content: space-between;
    padding: 4vh 0;
  }
  main .sec4 .sec4-container .sec4-pt1 .pt1-top h2 {
    width: 70%;
  }
  main .sec4 .sec4-container .sec4-pt1 .pt1-bottom .pt1-bt-item .item-pt1 h3 {
    font-size: clamp(1rem, 1.7vw + 1px, 2rem);
  }
  main .sec4 .sec4-container .sec4-pt2 {
    align-self: stretch;
    height: auto;
  }
  main .sec5 .sec5-container {
    grid-template-columns: repeat(3, minmax(266px, 1fr));
  }
  main .sec5 .sec5-container .sec5-cont-item1 {
    grid-column: 1/4;
    width: 100%;
  }
  main .sec5 .sec5-container .sec5-cont-item3,
  main .sec5 .sec5-container .sec5-cont-item6 {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
  }
  main .sec5 .sec5-container .sec5-cont-item3 img,
  main .sec5 .sec5-container .sec5-cont-item6 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .sec5 .sec5-container .sec5-cont-item4,
  main .sec5 .sec5-container .sec5-cont-item5 {
    padding: clamp(1rem, 2vw + 1px, 2rem) 2rem;
    justify-content: space-between;
  }
  main .sec6 .sec6-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  main .sec6 .sec6-container .sec6-cont-pt1 {
    display: block;
    width: 35%;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 {
    width: 65%;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 2rem;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part1 .img-div1 {
    display: block;
    width: 50%;
    height: 1.5rem;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part1 .img-div2 {
    width: 50%;
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 {
    gap: clamp(1rem, 1.8vw + 1px, 1.5rem);
  }
  main .sec6 .sec6-container .sec6-cont-pt2 .cont-pt2-part2 .pt2-part2-item h6 {
    font-size: clamp(1.2rem, 2.19vw + 1px, 2rem);
    font-weight: 400;
  }
  main .sec7 .sec7-container .sec-cont-part1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2.5rem;
  }
  main .sec7 .sec7-container .sec-cont-part1 p {
    font-size: clamp(1rem, 1.78vw + 1px, 1.2rem);
  }
  main .sec7 .sec7-container .sec-cont-part2 {
    grid-template-columns: repeat(4, 1fr);
  }
  main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items h3 {
    font-size: clamp(1rem, 1.78vw + 1px, 2.5rem);
  }
  main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items .detail-div .detail-pt1 h4 {
    font-size: 0.82rem;
  }
  main .sec7 .sec7-container .sec-cont-part2 .cont-part2-items .detail-div .detail-pt2 {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  main .sec2 .sec2-pt1 {
    aspect-ratio: 1/1;
  }
  main .sec3 .sec3-container .sec3-pt1 {
    aspect-ratio: 1/1;
  }
  main .sec5 .sec5-container .sec5-cont-items {
    width: 100%;
  }
  main .sec5 .sec5-container .sec5-cont-item1 {
    margin-bottom: 1.5rem;
  }
}