* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../general-sans/GeneralSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
header {
  padding: clamp(0.8rem, 2.7vw + 1px, 2.3rem) clamp(1.5rem, 6vw + 1px, 3.5rem);
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}
header nav .nav-part1 a img {
  width: clamp(3.5rem, 7vw + 1px, 3.8rem);
}
header nav .nav-part2 .nav-pt1 {
  display: none;
}
header nav .nav-part2 .nav-pt2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 0.8rem;
}
header nav .nav-part2 .nav-pt2 p {
  font-size: 0.8rem;
  font-family: "Roboto Mono";
}
header nav .nav-part2 .nav-pt2 button {
  display: none;
}
header nav .nav-part2 .nav-pt2 .menu-img {
  width: 2.5rem;
  height: 2.5rem;
}
header nav .nav-part2 .nav-pt2 .menu-img img {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: clamp(0.8rem, 2.7vw + 1px, 2.3rem) clamp(1.5rem, 6vw + 1px, 3.5rem);
}
main .hero {
  width: 100%;
  padding-bottom: 0.7rem;
}
main .hero .txt-img {
  width: 100%;
  margin-bottom: 0.8rem;
}
main .hero .txt-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero .txt2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}
main .hero .txt2 p {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  letter-spacing: 1px;
}
main .sec2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec2 .sec2-pt1 {
  width: 100%;
  aspect-ratio: 1/1;
}
main .sec2 .sec2-pt1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec2 .section2-pt2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec2 .section2-pt2 .sec2-pt2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec2 .section2-pt2 .sec2-pt2 h1 {
  font-size: clamp(2.5rem, 6vw + 1px, 5rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  font-weight: 200;
  width: 80%;
  line-height: 1.1;
}
main .sec2 .section2-pt2 .sec2-pt2 p {
  font-size: clamp(1.1rem, 2vw + 1px, 1.4rem);
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: #111;
}
main .sec2 .section2-pt2 .sec2-pt3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec2 .section2-pt2 .sec2-pt3 hr {
  background-color: grey;
  width: 100%;
  height: 0.5px;
}
main .sec2 .section2-pt2 .sec2-pt3 .lst {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}
main .sec2 .section2-pt2 .sec2-pt3 .lst p {
  font-size: clamp(1.7rem, 3vw + 1px, 2rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .sec3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec3 .sec3-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  gap: 2rem;
}
main .sec3 .sec3-container .sec3-pt1 {
  width: 100%;
}
main .sec3 .sec3-container .sec3-pt1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec3 .sec3-container .sec3-pt2 {
  width: 100%;
  display: flex;
  gap: clamp(2rem, 6vw + 1px, 3rem);
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item1 {
  margin-top: 12px;
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item1 p {
  writing-mode: vertical-rl;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  letter-spacing: 1px;
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 h2 {
  font-size: clamp(2.75rem, 6.5vw + 1px, 5.6rem);
  font-family: "GeneralSans-Regular";
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1;
}
main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 p {
  font-size: 1.15rem;
  font-family: "Roboto Mono";
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.5);
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {
  header nav .nav-part2 .nav-pt2 {
    gap: 1.2rem;
  }
  header nav .nav-part2 .nav-pt2 button {
    font-size: 0.9rem;
    text-transform: uppercase;
    display: block;
    font-family: "Roboto Mono";
    padding: 0.6rem 1.5rem;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
  }
}
@media (min-width: 990px) {
  header nav .nav-part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt1 {
    display: block;
  }
  header nav .nav-part2 .nav-pt1 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt1 ul li {
    list-style: none;
  }
  header nav .nav-part2 .nav-pt1 ul li a {
    text-decoration: none;
    font-family: "Roboto Mono";
    text-transform: uppercase;
    font-size: 0.8rem;
    color: rgb(55, 55, 55);
  }
  header nav .nav-part2 .nav-pt2 {
    gap: 2rem;
  }
  header nav .nav-part2 .nav-pt2 .menu-img {
    display: none;
  }
  main .sec2 {
    flex-direction: row-reverse;
    align-items: center;
  }
  main .sec2 .sec2-pt1 {
    aspect-ratio: 5/6;
  }
  main .sec2 .section2-pt2 .sec2-pt2 h1 {
    width: 100%;
    line-height: 1;
  }
  main .sec3 .sec3-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 3rem;
  }
  main .sec3 .sec3-container .sec3-pt1 {
    width: 32%;
    aspect-ratio: 5/6;
  }
  main .sec3 .sec3-container .sec3-pt2 {
    padding: 2rem 0;
    width: 68%;
    flex-direction: row-reverse;
    height: auto;
    align-self: stretch;
  }
  main .sec3 .sec3-container .sec3-pt2 .sec3-pt2-item2 {
    gap: clamp(3rem, 6vw + 1px, 4rem);
  }
}