@media (min-width: 768px) {
  header {
    nav {
      .nav-part2 {
        .nav-pt2 {
          gap: 1.2rem;
          button {
            font-size: 0.9rem;
            text-transform: uppercase;
            display: block;
            font-family: "Roboto Mono";
            padding: 0.6rem 1.5rem;
            background-color: black;
            border: none;
            border-radius: 30px;
            color: white;
          }
        }
      }
    }
  }
  main {
    .sec4 {
      .sec4-container {
        height: auto;
        .sec4-pt1 {
          // height: 100%;
          .pt1-bottom {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: clamp(2rem, calc(6vw + 1px), 3rem);
          }
        }
      }
    }
    .sec5 {
      .sec5-container {
        grid-template-columns: 1fr 1fr;

        .sec5-cont-item1 {
          grid-column: 1/3;
        }

        .sec5-cont-item5 {
          grid-row: initial;
        }
      }
    }

    .sec6 {
      .sec6-container {
        padding: 1rem 0 4rem 0;
        .sec6-cont-pt2 {
          align-items: center;
          gap: 2.5rem;

          .cont-pt2-part1 {
            width: 100%;

            img {
              width: 100%;
            }
          }

          .cont-pt2-part2 {
            .pt2-part2-item {
              flex-direction: row;
              align-items: center;
              gap: 2.5rem;

              .para {
                margin-left: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 810px) {
  main {
    .sec7 {
      .sec7-container {
        .sec-cont-part2 {
          .cont-part2-items {
            h3 {
              font-size: clamp(1rem, calc(2.9vw + 1px), 2.5rem);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 990px) {
  header {
    nav {
      .nav-part2 {
        @include row-center;
        gap: 2rem;

        .nav-pt1 {
          display: block;

          ul {
            @include row-center;
            gap: 2rem;

            li {
              list-style: none;

              a {
                text-decoration: none;
                font-family: "Roboto Mono";
                text-transform: uppercase;
                font-size: 0.8rem;
                color: rgb(55, 55, 55);
              }
            }
          }
        }
        .nav-pt2 {
          gap: 2rem;

          .menu-img {
            display: none;
          }
        }
      }
    }
  }
  main {
    .sec2 {
      flex-direction: row-reverse;
      align-items: center;
      gap: clamp(2.5rem, calc(5.5vw + 1px), 4rem);

      .sec2-pt1 {
        // aspect-ratio: 5/6;
        align-self: stretch;
        height: auto;
      }
      .section2-pt2 {
        align-self: stretch;
        height: auto;
        justify-content: space-between;
        padding: 4vh 0;

        .sec2-pt2 {
          h1 {
            width: 100%;
            line-height: 1;
          }

          p {
            width: 100%;
            max-width: 600px;
          }
        }
      }
    }
    .sec3 {
      .sec3-container {
        @include row-center;
        gap: clamp(2.5rem, calc(5.5vw + 1px), 4rem);

        .sec3-pt1 {
          width: 32%;
          align-self: stretch;
          height: auto;
        }
        .sec3-pt2 {
          padding: 2rem 0;
          width: 68%;
          flex-direction: row-reverse;
          height: auto;
          align-self: stretch;

          .sec3-pt2-item2 {
            gap: clamp(3rem, calc(6vw + 1px), 4rem);
            h2 {
              width: 80%;
            }
          }
        }
      }
    }
    .sec4 {
      .sec4-container {
        flex-direction: row;
        gap: clamp(2.5rem, calc(5.5vw + 1px), 4rem);

        .sec4-pt1 {
          align-self: stretch;
          height: auto;
          justify-content: space-between;
          padding: 4vh 0;

          .pt1-top {
            h2 {
              width: 70%;
            }
          }
          .pt1-bottom {
            .pt1-bt-item {
              .item-pt1 {
                h3 {
                  font-size: clamp(1rem, calc(1.7vw + 1px), 2rem);
                }
              }
            }
          }
        }
        .sec4-pt2 {
          align-self: stretch;
          height: auto;
        }
      }
    }
    /*     .sec5 {
      width: 100%;
      .sec5-container {
        width: 100%;
        // grid-template-columns: repeat(3, 1fr);

        .sec5-cont-item1 {
          grid-column: 1/4;
          width: 100%;
        }

        .sec5-cont-item2 {
          width: 100%;
        }

        .sec5-cont-item7 {
          width: 100%;
        }

        .sec5-cont-item3 {
          display: block;
          aspect-ratio: 1/1;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }

        .sec5-cont-item6 {
          display: block;
          aspect-ratio: 1/1;
          width: 100%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .sec5-cont-item4,
        .sec5-cont-item5 {
          padding: 2rem;
        }
      }
    } */

    .sec5 {
      .sec5-container {
        grid-template-columns: repeat(3, minmax(266px, 1fr));

        .sec5-cont-item1 {
          grid-column: 1/4;
          width: 100%;
        }

        .sec5-cont-item3,
        .sec5-cont-item6 {
          width: 100%;
          display: block;
          aspect-ratio: 1/1;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .sec5-cont-item4,
        .sec5-cont-item5 {
          padding: clamp(1rem, calc(2vw + 1px), 2rem) 2rem;
          justify-content: space-between;
        }
      }
    }

    .sec6 {
      .sec6-container {
        width: 100%;
        @include row-center;

        .sec6-cont-pt1 {
          display: block;
          width: 35%;
        }

        .sec6-cont-pt2 {
          width: 65%;

          .cont-pt2-part1 {
            width: 100%;
            @include row-center;
            gap: 2rem;

            .img-div1 {
              display: block;
              width: 50%;
              height: 1.5rem;
            }

            .img-div2 {
              width: 50%;
            }
          }

          .cont-pt2-part2 {
            gap: clamp(1rem, calc(1.8vw + 1px), 1.5rem);

            .pt2-part2-item {
              h6 {
                font-size: clamp(1.2rem, calc(2.19vw + 1px), 2rem);
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .sec7 {
      .sec7-container {
        .sec-cont-part1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          gap: 2.5rem;

          p {
            font-size: clamp(1rem, calc(1.78vw + 1px), 1.2rem);
          }
        }
        .sec-cont-part2 {
          grid-template-columns: repeat(4, 1fr);

          .cont-part2-items {
            h3 {
              font-size: clamp(1rem, calc(1.78vw + 1px), 2.5rem);
            }

            .detail-div {
              .detail-pt1 {
                h4 {
                  font-size: 0.82rem;
                }
              }

              .detail-pt2 {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
    .sec8 {
      .sec8-container {
        @include row-center;
        flex-direction: row-reverse;

        .sec8-pt1 {
          width: 50%;
          h3 {
            font-size: clamp(2.7rem, calc(4.5vw + 1px), 4rem);
          }
        }
        .sec8-pt2 {
          display: block;
          width: 50%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  main {
    .sec2 {
      .sec2-pt1 {
        aspect-ratio: 1/1;
      }
    }
    .sec3 {
      .sec3-container {
        .sec3-pt1 {
          aspect-ratio: 1/1;
        }
      }
    }
    .sec5 {
      .sec5-container {
        .sec5-cont-items {
          width: 100%;
        }
        .sec5-cont-item1 {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
