* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin col-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

@mixin row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../general-sans/GeneralSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

header {
  padding: clamp(0.8rem, calc(2.7vw + 1px), 2.3rem)
    clamp(1.5rem, 6vw + 1px, 3.5rem);

  nav {
    @include row-center;
    justify-content: space-between;

    .nav-part1 {
      a {
        img {
          width: clamp(3.5rem, 7vw + 1px, 3.8rem);
        }
      }
    }

    .nav-part2 {
      .nav-pt1 {
        display: none;
      }
      .nav-pt2 {
        @include row-center;
        gap: 0.8rem;

        p {
          font-size: 0.8rem;
          font-family: "Roboto Mono";
        }

        button {
          display: none;
        }

        .menu-img {
          width: 2.5rem;
          height: 2.5rem;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  @include col-center;
  padding: clamp(0.8rem, calc(2.7vw + 1px), 2.3rem)
    clamp(1.5rem, 6vw + 1px, 3.5rem);

  .hero {
    width: 100%;
    padding-bottom: 0.7rem;

    .txt-img {
      width: 100%;
      margin-bottom: 0.8rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .txt2 {
      @include row-center;
      justify-content: space-between;

      p {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-family: "Roboto Mono";
        letter-spacing: 1px;
      }
    }
  }
  .sec2 {
    width: 100%;
    @include col-center;
    gap: 2rem;

    .sec2-pt1 {
      width: 100%;
      aspect-ratio: 1/1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section2-pt2{
      width: 100%;
      @include col-center;
      gap: 2rem;

        .sec2-pt2 {
        width: 100%;
        @include col-center;

        h1 {
          // font-size: 2.5rem;
          font-size: clamp(2.5rem, 6vw + 1px, 5rem);
          font-family: "GeneralSans-Regular";
          text-transform: uppercase;
          font-weight: 200;
          width: 80%;
          line-height: 1.1;
        }
        p {
          // font-size: 1.1rem;
          font-size: clamp(1.1rem, calc(2vw + 1px), 1.4rem);
          font-family: "Roboto Mono";
          line-height: 1.5;
        }
      }
      .sec2-pt3 {
        width: 100%;
        @include col-center;

        hr {
          background-color: grey;
          width: 100%;
          height: 0.5px;
        }

        .lst {
          width: 100%;
          @include row-center;
          justify-content: space-between;

          p {
            // font-size: 1.7rem;
            font-size: clamp(1.7rem, calc(3vw + 1px), 2rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  .sec3{
    width: 100%;
    @include col-center;
    gap: 2rem;

    .sec3-container{
        width: 100%;
        @include col-center;
        gap: 2rem;

      .sec3-pt1{
        width: 100%;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .sec3-pt2{
        width: 100%;
        @include row-center;

        .sec3-pt2-item1{
          p{
            writing-mode: vertical-rl;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-family: "Roboto Mono";
            letter-spacing: 1px;
          }
        }
        .sec3-pt2-item2{
          width: 100%;
          @include col-center;

          h2{
            font-size: clamp(2.75rem, 6vw + 1px, 5rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            font-weight: 200;
            // width: 80%;
            line-height: 1;
          }
          p {
          // font-size: 1.1rem;
          font-size: clamp(1.1rem, calc(2vw + 1px), 1.4rem);
          font-family: "Roboto Mono";
          line-height: 1.5;
          }
        }
      }
    }
  }
}

@import "_st_media.scss";
