* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin col-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

@mixin row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@mixin img-adjust {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../general-sans/GeneralSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

header {
  padding: clamp(0.8rem, calc(2.7vw + 1px), 2.3rem)
    clamp(1.5rem, 6vw + 1px, 3.5rem);

  nav {
    @include row-center;
    justify-content: space-between;

    .nav-part1 {
      a {
        img {
          width: clamp(3.5rem, 7vw + 1px, 3.8rem);
        }
      }
    }

    .nav-part2 {
      .nav-pt1 {
        display: none;
      }
      .nav-pt2 {
        @include row-center;
        gap: 0.8rem;

        p {
          font-size: 0.8rem;
          font-family: "Roboto Mono";
        }

        button {
          display: none;
        }

        .menu-img {
          width: 2.5rem;
          height: 2.5rem;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  @include col-center;
  padding: clamp(0.8rem, calc(2.7vw + 1px), 2.3rem)
    clamp(1.5rem, 6vw + 1px, 3.5rem);

  .hero {
    width: 100%;
    padding-bottom: 0.7rem;

    .txt-img {
      width: 100%;
      margin-bottom: 0.8rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .txt2 {
      @include row-center;
      justify-content: space-between;

      p {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-family: "Roboto Mono";
        letter-spacing: 1px;
      }
    }
  }
  .sec2 {
    width: 100%;
    @include col-center;
    gap: 2rem;

    .sec2-pt1 {
      width: 100%;
      aspect-ratio: 1/1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section2-pt2 {
      width: 100%;
      @include col-center;
      gap: 2rem;

      .sec2-pt2 {
        width: 100%;
        @include col-center;

        h1 {
          // font-size: 2.5rem;
          font-size: clamp(2.5rem, calc(5.5vw + 1px), 5rem);
          font-family: "GeneralSans-Regular";
          text-transform: uppercase;
          font-weight: 200;
          width: 80%;
          line-height: 1.1;
        }
        p {
          // font-size: 1.1rem;
          font-size: clamp(1.1rem, calc(2vw + 1px), 1.4rem);
          font-family: "Roboto Mono";
          line-height: 1.5;
          color: #111;
        }
      }
      .sec2-pt3 {
        width: 100%;
        @include col-center;

        hr {
          background-color: grey;
          width: 100%;
          height: 0.5px;
        }

        .lst {
          width: 100%;
          @include row-center;
          justify-content: space-between;

          p {
            // font-size: 1.7rem;
            font-size: clamp(1.7rem, calc(3vw + 1px), 2rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  .sec3 {
    width: 100%;
    @include col-center;
    gap: 2rem;

    .sec3-container {
      width: 100%;
      @include col-center;
      gap: 2rem;

      .sec3-pt1 {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .sec3-pt2 {
        width: 100%;
        display: flex;
        gap: clamp(2rem, calc(6vw + 1px), 3rem);

        .sec3-pt2-item1 {
          margin-top: 12px;
          p {
            writing-mode: vertical-rl;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-family: "Roboto Mono";
            letter-spacing: 1px;
          }
        }
        .sec3-pt2-item2 {
          width: 100%;
          @include col-center;

          h2 {
            font-size: clamp(2.75rem, calc(6.5vw + 1px), 5.6rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            font-weight: 200;
            // width: 80%;
            line-height: 1;
          }
          p {
            font-size: 1.15rem;
            // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
            font-family: "Roboto Mono";
            line-height: 1.5;
            color: rgba(17, 17, 17, 0.5);
            width: 100%;
            max-width: 600px;
          }
        }
      }
    }
  }
  .sec4 {
    width: 100%;
    @include col-center;
    gap: 2rem;

    .sec4-container {
      width: 100%;
      @include col-center;
      gap: 2rem;
      padding: 2rem 0;

      .sec4-pt1 {
        width: 100%;
        @include col-center;
        gap: 2rem;
        .pt1-top {
          h2 {
            font-size: clamp(2.75rem, calc(6.2vw + 1px), 5.6rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            font-weight: 200;
            // width: 80%;
            line-height: 1;
          }
        }
        .pt1-bottom {
          @include col-center;
          gap: 2rem;
          h3 {
            font-weight: 300;
            font-size: clamp(1.5rem, calc(3vw + 1px), 2rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            letter-spacing: 1px;
          }

          p {
            font-size: 1rem;
            // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
            font-family: "Roboto Mono";
            line-height: 1.5;
            color: rgba(17, 17, 17, 0.5);
          }
          .pt1-bt-item {
            @include col-center;
            padding: 0.8rem 0;
            border-top: 1px solid rgba(148, 148, 148, 0.5);

            .item-pt1 {
              @include col-center;
              gap: 0.6rem;
            }
            .item-pt2 {
              @include row-center;
              justify-content: flex-start;
              svg {
                width: 1rem;
                color: white;
                padding: 0.7rem;
                box-sizing: content-box;
                background-color: #111;
                border-radius: 50%;
              }
              p {
                font-size: 0.9rem;
                // font-weight: bold;
                text-transform: uppercase;
                // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
                font-family: "Roboto Mono";
                line-height: 1.5;
                color: black;
              }
            }
          }
        }
      }
      .sec4-pt2 {
        width: 100%;
        @include img-adjust;
      }
    }
  }

  .sec5 {
    width: 100%;

    .sec5-container {
      width: 100%;
      display: grid;
      // grid-template-columns: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      padding: 2rem 0;

      .sec5-cont-item3 {
        display: none;
      }

      .sec5-cont-item6 {
        display: none;
      }

      .sec5-cont-item1 {
        width: 100%;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .sec5-cont-item2 {
        width: 100%;
        aspect-ratio: 1/1;
        @include img-adjust;
      }
      .sec5-cont-item4 {
        @include col-center();

        .item-pt1 {
          @include col-center;
          gap: 0.5rem;

          h3 {
            font-weight: 300;
            font-size: clamp(2.25rem, calc(4.45vw + 1px), 4rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          p {
            font-size: 1rem;
            // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
            font-family: "Roboto Mono";
            line-height: 1.5;
            color: #111;
            width: 90%;
          }
        }
        .item-pt2 {
          margin-top: 1rem;
          @include row-center;
          justify-content: flex-start;
          svg {
            width: 1rem;
            color: white;
            padding: 0.7rem;
            box-sizing: content-box;
            background-color: #111;
            border-radius: 50%;
          }
          p {
            font-size: 0.9rem;
            // font-weight: bold;
            text-transform: uppercase;
            // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
            font-family: "Roboto Mono";
            line-height: 1.5;
            color: black;
          }
        }
      }
      .sec5-cont-item7 {
        width: 100%;
        aspect-ratio: 1/1;
        @include img-adjust;
      }
      .sec5-cont-item5 {
        @include col-center();
        grid-row: 5/6;

        .item-pt1 {
          @include col-center;
          gap: 0.5rem;

          h3 {
            font-weight: 300;
            font-size: clamp(2.25rem, calc(4.45vw + 1px), 4rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          p {
            font-size: 1rem;
            // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
            font-family: "Roboto Mono";
            line-height: 1.5;
            color: #111;
            width: 90%;
          }
        }
        .item-pt2 {
          margin-top: 1rem;
          @include row-center;
          justify-content: flex-start;
          svg {
            width: 1rem;
            color: white;
            padding: 0.7rem;
            box-sizing: content-box;
            background-color: #111;
            border-radius: 50%;
          }
          p {
            font-size: 0.9rem;
            // font-weight: bold;
            text-transform: uppercase;
            // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
            font-family: "Roboto Mono";
            line-height: 1.5;
            color: black;
          }
        }
      }
    }
  }

  .sec6 {
    width: 100%;

    .sec6-container {
      width: 100%;

      .sec6-cont-pt1 {
        display: none;
      }

      .sec6-cont-pt2 {
        width: 100%;
        @include col-center;
        gap: 2rem;

        .img-div1 {
          display: none;
        }

        .img-div2 {
          width: 100%;
          @include img-adjust;
        }

        .cont-pt2-part2 {
          width: 100%;
          @include col-center;
          gap: clamp(1.5rem, calc(2.5vw + 1px), 2rem);

          .pt2-part2-item {
            width: 100%;
            @include col-center;
            gap: 0.7rem;

            p {
              font-size: 0.85rem;
              text-transform: uppercase;
              font-family: "Roboto Mono";
            }

            h6 {
              font-size: clamp(1.5rem, calc(4vw + 1px), 2rem);
              font-family: "GeneralSans-Regular";
              text-transform: uppercase;
              letter-spacing: 2px;
              font-weight: 500;
            }
          }

          .sec6-line {
            width: 100%;
            height: 1px;
            background-color: rgb(197, 196, 196);
          }
        }
      }
    }
  }

  .sec7 {
    width: 100%;

    .sec7-container {
      width: 100%;
      @include col-center;
      padding: max(4vw, 5vh) 0;
      gap: 2.5rem;

      .sec-cont-part1 {
        width: 100%;
        @include col-center;

        h2 {
          font-weight: 300;
          font-size: clamp(3rem, calc(5vw + 1px), 4rem);
          font-family: "GeneralSans-Regular";
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        p {
          font-size: 1.15rem;
          // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
          font-family: "Roboto Mono";
          line-height: 1.5;
          color: #111;
        }
      }
      .sec-cont-part2 {
        width: 100%;
        @include col-center;
        gap: 2rem;

        .cont-part2-items{
          width: 100%;
          @include col-center;

          h3{
            font-size: clamp(1.5rem, calc(4vw + 1px), 2.5rem);
            font-family: "GeneralSans-Regular";
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
          }
          img{
            width: 100%;
            object-fit: cover;
          }

          .detail-div{
            width: 100%;
            @include col-center;
            gap: 2rem;

            .detail-pt1{
              width: 100%;
              @include row-center;

              h4{
                font-size: 1rem;
                width: 100%;
                font-family: "Roboto Mono", sans-serif;
                text-transform: uppercase;
                font-weight: 400;
              }

              .logo{
                width: 100%;
                @include row-center;
                justify-content: flex-end;
                // background: #000;

                img{
                  width: 1rem;
                  object-fit: cover;
                }
              }
            }

            .detail-pt2{
              font-size: 1.15rem;
              // font-size: clamp(1.1rem, calc(2vw + 1px), 1.2rem);
              font-family: "Roboto Mono";
              line-height: 1.5;
              color: rgb(161, 160, 160);
            }
            
          }
        }
      }
    }
  }
}

@import "_st_media.scss";
