* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin col-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

@mixin row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../general-sans/GeneralSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

header {
  padding: clamp(0.8rem, calc(2.7vw + 1px), 2.3rem)
    clamp(1.5rem, 6vw + 1px, 3.5rem);

  nav {
    @include row-center;
    justify-content: space-between;

    .nav-part1 {
      a {
        img {
          width: clamp(3.5rem, 7vw + 1px, 3.8rem);
        }
      }
    }

    .nav-part2 {
      .nav-pt1 {
        display: none;
      }
      .nav-pt2 {
        @include row-center;
        gap: 0.8rem;

        p {
          font-size: 0.8rem;
          font-family: "Roboto Mono";
        }

        button {
          display: none;
        }

        .menu-img {
          width: 2.5rem;
          height: 2.5rem;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

@import "_st_media.scss";
